<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<footer class="footer text-center" th:fragment="layout-footer">
		<div class="container">
	<div class="row">

        <!-- Footer Location -->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4 text-white">Endereço e contato</h4>
          <p class="lead mb-0">Av. Martin Luther King, n° 60 -  Centro.
           (44) 3642-4426</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase text-white">Veja mais informações pelas redes sociais</h4>
          <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.facebook.com/municipioguaira/">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://twitter.com/municipioguaira">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.instagram.com/municipiodeguaira/">
            <i class="fab fa-fw fa-instagram"></i>
          </a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.youtube.com/municipiodeguaira/">
            <i class="fab fa-youtube"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-xs-6 col-sm-6 col-md-4 col-md-4 col-lg-4">
          <h4 class="text-uppercase mb-4 text-white">Município de Guaíra</h4>
          <p class="lead mb-0">Secretaria Municipal de Turismo, esporte e cultura</p>
        </div>

      </div>
	</div>
</footer>
	
</html>