<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:portal="http://turismo.guaira.pr.gov.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
<title>Pesquisa de estabelecimentos gastronômicos</title>
</head>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de estabelecimentos gastronômicos</h1>
				</div>
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-default" th:href="@{/gastronomias/novo}"> <i
							class="glyphicon  glyphicon-plus-sign"></i> <span
							class="hidden-xs  hidden-sm">Novo</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<form method="GET" th:object="${gastronomiaFilter}">
			<div class="row">

				<div class="form-group  col-sm-12">
					<label class="control-label" for="nome">Nome</label> <input
						type="text" class="form-control" id="nome" th:field="*{nome}" />
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-6  bw-required" portal:classforerror="tiposGastronomias">
					<label class="control-label">Tipos</label> 
					<div>
						<th:block th:each="tipo : ${tipos}">
  							<div class="checkbox-inline"> 
	    						<input type="checkbox" th:value="${tipo.codigo}" th:field="*{tiposGastronomias}" />
	    						<label th:for="${#ids.prev('tiposGastronomias')}" th:text="${tipo.nome}"></label>
    						</div>
    					</th:block>
					</div>
				</div>
			</div>

			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>

		<div class="table-responsive  py-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-hospedagem-col-nome" ><a
							th:href="${pagina.urlOrdenada('nome')}"
							th:remove="${pagina.vazia} ? tag"> <span>Nome</span> <span
								class="dropup" th:remove="${pagina.descendente('nome')} ? tag"
								th:if="${pagina.ordenada('nome')}"> <span class="caret"></span>
							</span>
						</a></th>
						<th class="table-hospedagem-col-acoes  text-center">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="gastronomia : ${pagina.conteudo}">
						<td th:text="${gastronomia.nome}"></td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
							 th:href="@{/gastronomias/{codigo}(codigo=${gastronomia.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#"
							th:attr="data-codigo=${gastronomia.codigo}, data-url=@{/gastronomias/{codigo}(codigo=${gastronomia.codigo})}, 
							data-objeto=${gastronomia.nome}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>

					<tr th:if="${pagina.vazia}">
						<td colspan="4">Nenhum estabelecimento gastronômico encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-sm-12 text-center" th:if="${not pagina.vazia}">
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-sm"
					th:with="paginaAtual=${pagina.atual}">
					<li class="page-item" th:class="${pagina.primeira} ? disable">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}"
						th:remove="${pagina.primeira} ? all"><span>&laquo;</span></a>
					</li>
					<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}"
						th:with="numeroPagina=${p - 1}">
						<li th:class="${paginaAtual == numeroPagina} ? active"><a
							class="page-link" th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
						</li>
					</th:block>
					<li class="page-item" th:class="${pagina.ultima} ? disable"><a
						th:href="${pagina.urlParaPagina(paginaAtual + 1)}"
						th:remove="${pagina.ultima} ? all"><span>&raquo;</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
</section>
</html>