<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">
	
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<h1>História de Guaíra</h1>
				</div>
				
			</div>
		</div>
	</div>
	
	<section class="page-section padding-30">
		<div class="container">
			
			<p class="text-justify">A história de Guaíra está intimamente ligada à do Brasil e à da América do Sul. 
				Trilha o mesmo caminho desde que portugueses e espanhóis aportaram na região para disputar com indígenas o 
				domínio pelas terras de belezas naturais assombrosas e imenso potencial econômico.</p>
			<p class="text-justify">Em 1525, Aleixo Garcia – considerado o descobridor oficial do Paraguai – percorria a região das 
				Cataratas do Iguaçu e de Guaíra em sua viagem para o Peru, utilizando o mítico caminho do Peabiru 
				(estrada indígena que ligava o Atlântico ao Pacífico).</p>
			<p class="text-justify">Em 1554, é fundada a Ciudad Real Del Guayrá, na confluência do Rio Piquiri. 
				Em 1570, um novo estabelecimento surge à margem esquerda do Rio Paraná, denominando-se Vila Rica do Espírito Santo, 
				que rapidamente tornou-se o mais importante centro urbano da antiga Província do Guairá. Nestas vilas, a atividade econômica 
				girava em torno da horticultura e do extrativismo, cujo principal produto era a erva-mate.</p>
			<p class="text-justify">Ciudad Real aos poucos ficou sob o controle jesuíta, que catequizava os indígenas guaranis que então viviam em 
				abundância em toda a região. Em 1631, porém, os bandeirantes destruíram essas vilas e a região ficou sob o controle do Império Português.</p>
			<p class="text-justify">A área, então, ficou inabitada, com o extermínio e fuga dos guaranis para outras regiões. Isso até que o ciclo da erva-mate 
				após a Guerra do Paraguai novamente colocasse a região no mapa comercial.</p>
			<p class="text-justify">A erva-mate é, portanto, a protagonista de Guaíra. Num salto histórico de mais de 300 anos, chega-se à legendária 
				Companhia Matte Larangeira (com g, pois seu fundador chamava-se Thomas Larangeira, que obteve em 1882, por meio de Decreto Imperial, 
				o direto de exploração de ervais nativos). Em 1929, após quase quatro décadas trabalhando em sociedade com a empresa Mendes & Cia., 
				surge a nova Companhia Matte Larangeira, com sedes no Rio de Janeiro e em Buenos Aires.</p>
			<p class="text-justify">No Brasil, fazia-se a extração da erva-mate no Paraná e no Mato Grosso do Sul; na Argentina, o produto era industrializado e distribuído para o mercado platino. 
				Em 1902, a Mate Larangeira estabelece-se em Guaíra e funda o Porto Mojoli.</p>
			<p class="text-justify">Inicia-se a construção da cidade, que aos poucos ganha infraestrutura e destaque como um importante polo industrial da época. A partir de 1919, o chamado Porto Guaíra 
				já contava com iluminação elétrica a vapor, rede de esgoto, limpeza pública, capela, biblioteca, escola, hospital, serviço telefônico, metalúrgica, policiamento, etc.</p>
			<p class="text-justify">A organização da cidade impressionou tanto o empresário Cézar Prieto Martinez, que, em de 1924, ele divulga uma nota na imprensa paulista: ?Guaíra é uma organização que honra 
				as sociedades industriais do Brasil, é a maior cidade pertencente a uma empresa, a maior e a mais completa porque nada lhe falta, nem mesmo um código de posturas e um serviço de policiamento que 
				lhe proporciona asseio e ordem?. A influência da Mate Larangeira começa a arrefecer na década de 1940, quando o governo nacionalista de Getúlio Vargas encampou o patrimônio da empresa, rebatizando-o 
				de Serviço de Navegação Bacia do Prata.</p>
			<p class="text-justify">Getúlio também é o responsável pelo estímulo de uma ?Marcha para o Oeste?, atraindo imigrantes para a região. Assim, a cidade, então basicamente habitada por paraguaios e descendentes, 
				passa a abrigar outras etnias.</p>
			<p class="text-justify">Impulsionado por interesses políticos, em 1947, o então governador do Mato Grosso, Arnaldo Estevão Figueiredo, acaba com a concessão dos ervais da Matte Larangeira. Era o fim de uma era.</p>
			<p class="text-justify">No entanto, a empresa deixou marcas eternas por onde passou (foram várias cidades no então Mato Grosso, atual Mato Grosso do Sul). Em Guaíra, um dos exemplos é a construção da Igreja Nuestro 
				Señor Del Perdón, ou simplesmente Igrejinha de Pedra, um dos principais pontos turísticos da cidade, além de inúmeros prédios que compõem a paisagem urbana do município.</p>
			<p class="text-justify">Ironicamente, após este período de declínio da Matte, Guaíra ganha enfim status de município em novembro de 1951. A instalação dá-se em dezembro de 1952, com posse do primeiro prefeito, 
				Gabriel Fialho Gurgel. Nas próximas décadas, a cidade ganharia aeroporto, delegacia de polícia, posto da Receita Federal , agências bancárias, uma usina elétrica em Sete Quedas, e a instalação de diversas grandes 
				empresas, entre outros benefícios. Nesta época, a população chega a 5 mil habitantes.</p>
			<p class="text-justify">Os municípios de Palotina e Terra Roxa são desmembrados (pertenciam a Guaíra). Mas a maior transformação ainda estava para chegar. E, então, Guaíra seria outra. Para sempre.</p>
			<p class="text-justify">Em 1965, é assinado entre os governos brasileiro e paraguaio a Ata de Itaipu, documento que visava iniciar entendimentos para a construção da maior hidrelétrica do mundo. Os próximos anos seriam 
				de dúvidas e angústias para todos os moradores da cidade. A construção de uma usina em Foz do Iguaçu acarretaria no fim das Sete Quedas ? já consolidadas como um dos principais pontos turísticos do Sul do Brasil e para 
				onde convergiam milhares de pessoas todos os anos.</p>
			<p class="text-justify">Em 1973, após o resultado de muitos estudos técnicos, é assinado o Tratado de Itaipu. O Rio Paraná teria aproveitado seu potencial hidrelétrico. Sete Quedas estava com os dias contados. 
				Um imenso silêncio tomou conta das ruas de Guaíra em 13 de outubro de 1982, quando foram fechadas as comportas de Itaipu. O barulho constante vindo das quedas transformou-se em quietude. ?A dor não é só pelo que se 
				deixou de ver, mas por aquilo que se deixou de ouvir?, lembra a artesã e contadora de histórias Ana Menel.</p>
			<p class="text-justify">Com o fim de Sete Quedas e o sensível enfraquecimento do turismo, o município começou a encolher. Ou simplesmente parou de crescer. Na década de 1970, chegou a ter cerca de 30 mil habitantes. 
				Depois ficou na casa dos vinte e poucos mil. Hoje, tem 32 mil habitantes com a retomada do crescimento nos últimos anos.</p>
			<p class="text-justify">Para compensar as perdas com o enfraquecimento do turismo, o município, ao lado de outras 14 cidades paranaenses, recebe royalties de Itaipu.</p>
			<p class="text-justify">Além dos royalties, a economia de Guaíra é sustentada, principalmente, pela agricultura. Milho, soja e trigo são seus principais produtos agrícolas. Também se destaca a transformação da mandioca em vários subprodutos.</p>
			<p class="text-justify">Hoje, Guaíra já conta com atividades como confecções, fábricas de bolsas e indústrias de transformação da madeira (móveis, estofados e laminados), entre outras. Guaíra também aposta em uma retomada do turismo, 
				sempre levando em consideração a força das belezas naturais em torno do Rio Paraná, que proporciona aos visitantes belíssimos passeios ecológicos. Além disso, o turismo de compras mantém-se com extrema força devido à proximidade 
				com Salto Del Guairá (Paraguai).</p>
			<p class="text-justify">O próximo passo, agora, é autorização para empresários poderem instalar as lojas francas.</p>
		</div>
	</section>
	
	<div class="container">
	<h2>Galeria de fotos</h2>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/images/historia/cinema.jpg}" data-image-id="" data-toggle="modal" data-title=""
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                    	 th:src="@{/images/historia/cinema.jpg}"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/images/historia/escola.jpg}" data-image-id="" data-toggle="modal" data-title=""
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         th:src="@{/images/historia/escola.jpg}"
                         alt="Another alt text">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/images/historia/locomotiva.jpg}" data-image-id="" data-toggle="modal" data-title=""
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         th:src="@{/images/historia/locomotiva.jpg}"
                         alt="Another alt text">
                </a>
            </div>
		</div>
		
		<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-galeria btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn-galeria btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
		
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/portal.galeria.js}"></script>
</th:block>
</html>